.img{
    width: 100%;
}

.googleicon{
    font-size: 100px;
    color: purple;
}

.custom-instagram{
    font-size: 100px;
    color: blue;
}

.lovepace{
    font-size: 200px;
    color: pink;
}

.apple{
    font-size:200px;
    color:#adb5bd;
}

.champion{
    font-size: 200px;
    color: orangered;
}

.amazon{
    font-size:200px;
    color: black;
}